/* Personalización del formulario */
body {
    background-color: #1b1a1a;
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    border-radius: 8px 8px 0 0;
    background-color: #4a78bd;
    border-color: #000000;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.form-label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #dfdfdf;
}

.form-control {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #111111;
}

.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 5px #00000040;
}

textarea.form-control {
    resize: none;
}

button[type="submit"] {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px;
    background-color: #4e7eb3;
}

button[type="submit"]:hover {
    background-color: #4e7eb3;
    border-color: #3e72a8;
}

.card-body {
    padding: 2rem;
    background-color: #111111;
}

.container {
    max-width: 600px;
}

@media (max-width: 768px) {
    .card {
        margin: 0 15px;
    }
}

.Volver{
    color: white;
    text-decoration: none;
    

}
.container-volver{
    width: 100%;
    display: flex;
    justify-content: center;

}
.container-imagen{
    justify-content: center;
    display: flex;
    width: 100%;

}

.imagen{
    width: 20rem;

}

.Volver:focus{
    border-radius: 5px  ;


}

.Volver:hover{
    box-shadow: 0 0 0 3px white;
}

.imagen1{
    height: 20rem;

}
